---js
{
  eleventyExcludeFromCollections: true,
  permalink: "/feed.xml",
  layout: false,
  metadata: {
    language: "en"
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="/assets/pretty-atom-feed.xsl" type="text/xsl"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ metadata.language }}">
  <title>{{ site.name }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self" />
  <link href="{{ site.url }}" />
  <updated>{{ collections.news | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.url }}/</id>
  <author>
    <name>{{ site.name }}</name>
  </author>
  {%- assign feed_count = 0 -%}
  {%- for post in collections.news reversed %}
  {%- unless post.data.no_index -%}
  {%- if feed_count < 20 -%}
  {%- assign absolutePostUrl = post.url | htmlBaseUrl: site.url %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}" />
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html"><![CDATA[{{ post.content | transformWithHtmlBase: site.url, post.url }}]]></content>
  </entry>
  {%- assign feed_count = feed_count | plus: 1 -%}
  {%- endif -%}
  {%- endunless -%}
  {%- endfor %}
</feed>
